
.backgroundContainer {
  
    position: relative;
    width: 100%;
    height: 500px; /* Adjust as needed */
    background-image: url('../../images/image\ 63[747].png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blurOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(207, 207, 207, 0.5); /* Semi-transparent overlay */
    backdrop-filter: blur(1px); /* Apply blur effect */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .button {
    padding: 20px 40px;
    font-size: 26px;
    font-weight: 300;
    background:transparent;
    
    border: 2px solid rgb(69, 69, 69);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s ease; /* Smooth transition */
  }
  .button:hover{
    background-color: rgb(195, 194, 194);
  }
  
  @media (min-width: 1024px) {
    .showHide {
        display: block; /* Show on larger screens */
      }
    
      
  }