

.custom-arrows {
  position: relative;
   display: flex;
  justify-content: end;
  margin-top: 10px; /* Space between the carousel and buttons */
  padding: 0 20px; /* Adjust padding as needed */
}

/* Style for individual buttons */
.prev-button, .next-button {
  cursor: pointer;
  border: 2px solid black;
  padding :4px;
  margin-left: 20px;
}


/* Show or adjust styles based on screen size */
